/* Loan elements */
@import url(default_them.css);

*
{
  margin: 0px;
  padding: 0px;
}

body{
 background-color: rgb(255, 255, 255)
}
h1{
    color: rgb(126, 68, 160);
}
.header
{
   width: 100%; 
   border:1px solid gray;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

   position: fixed;
   min-height: 60px;
   margin-bottom: 20px;
   margin: 0;
   padding-right: 10px;
   padding-left: 10px;
   background-color: var(--rayol-primary-color);
   border-color: var(--rayal-white-borders);
   z-index: 1000;
  
}

.buttons-join{
    float:right;
     display: inline-block;
     width: 110px;
     height: 60px;
     border:0px solid gray;
     display: -webkit-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     justify-content: center;
     align-items: center;
  }
 

.header-icon{
    width: 22px;
    height: 22px;
    fill-opacity:1;
    stroke:none;
    fill-rule:nonzero;
    fill:  var(--rayal-gray-color);
}
.web-name{
    color: var(--rayal-white);
    font-family: Roboto-Medium;
    font-size: 20PX;
}
.icon-logo{
	margin-top:2px;
	width: 100px;
	height:50px;
	}
.top-icon-div{
	margin-left: 120px;
	width: 130px;
	height: 60px;
	border: 1px solid gray;
	float: left;
	 display: inline-block;
}
.icon-div{
    float: left;
    margin-left: 10px;
}
.name-div{
    float: left;
	 display: inline-block;
	 width: 80px;
	 height: 60px;
	 border: 0px solid gray;
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: -webkit-flex;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
.link-div{
	float: left;
	 display: inline-block;
	 width: 130px;
	 height: 60px;
	 border: 0px solid gray;
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: -webkit-flex;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
.link-div a{
	color: var(--rayal-white);
	font-family: Roboto-Medium;
	text-decoration: none;
}
.link-div svg{
  fill: var(--rayal-white);;
}
.link-div a:hover{
 color: var(--rayal-white);
}
.link-focused{
 color: var(--rayal-white);
}
.buttons-join{
  float: right;
   display: inline-block;
   width: 110px;
   height: 60px;
   border:0px solid gray;
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   justify-content: center;
   align-items: center;
}

.buttons-join.logout button{
  color: var(--rayal-white);
  font-family: Roboto-Medium;
  background-color:var(--rayol-primary-color);
  border-radius: 10px;
  padding: 10px;
  border: 0;
  border-radius: var(--border-radius);
  -webkit-box-shadow:0px 0px 6px var(--rayal-white);
  -moz-box-shadow:0px 0px 6px var(--rayal-white);
 
}
.buttons-join.lbl-username label{
  color: var(--rayal-white);
  font-family: Roboto-Medium;
  
  border-radius: 10px;
  padding: 10px;
  border: 0;
  border-radius: var(--border-radius);
  width: 100px;
}
.link-div.focused{
border-bottom-width: 2px;
border-color: var( --rayal-white);
}
.header-icon.focused{
  fill: var( --rayal-white);
  }

.a-servises.focused{
color: var( --rayol-primary-color);



}
/* For loan links */


  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--rayol-primary-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  #btnLoan
  {
    background-color: var(--rayol-primary-color);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown-content a:hover {background-color: var(--rayol-primary-acent-color);}
  
  .dropdown:hover .dropdown-content {display: block;}


/*End of header*/

/*
All about body 
 */
 .main-container
{
  height: 650px;
  width: 100%;
  background-image: url("../assets/images/loan-back.png");
}
 .form-container
 {
  height: 650px;
  width: 100%;
  background-color: var(--rayal-white-sec);
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .content
 {
    margin-top: 50px;
    overflow: auto;
    width: 900px;
    height:560px;
    border: 1px solid var(--rayal-white-borders);
   
 }

 .info-header
 {
    width: 900px;
    height:70px;
    border: 1px solid var(--rayal-white-borders);
    background-color: var(--rayol-primary-color);
    display: flex;
    justify-content: center;
    flex-direction: row;
 }
 .info-div
 {   
   width: 450px;
   display: inline-block;
   height:70px;
 }
 #h-info
 {
   color: var(--rayal-white);
   float: right;
   margin-top: 27px;
 }
 .div-close
 {
    float: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height:20px;
    border-radius: 50px;
    background-color: var(--rayol-primary-acent-color);
    color: var(--rayol-primary-color);
 }
 .div-close:hover{
    cursor: pointer;
    background-color: var( --rayol-primary-acent-hover-color);
   }
.data-div
{
    width: 900px;
    display: inline-block;
    height:430px; 
}
.row
{
    width: 900px;
    display: inline-block;
    height:30px;   

}
.data-head
{
    height:30px; 
    width: 140px;
    background-color: var(--rayol-primary-acent-color);
    color: aliceblue;
}
.id-cell
{
    width: 60px;
    background-color: var(--rayol-primary-acent-color);
    color: aliceblue;
}
.data{
    height:30px; 
    width: 140px;
   
}
.data-id
{
    width: 60px; 
}
.data-row
{
    background-color: var(--rayol-primary-data-back);
}
.data-row:hover{
    background-color: var(--rayol-primary-data-back-hover); 
}

#btn-pay-in-loan-info
{
    height:25px; 
    width: 100px;
    border: none;
    border-radius: 4px;
    background-color: var(--rayol-primary-color);
}
#btn-pay-in-loan-info:hover
{
  cursor: pointer;
  background-color: var(--rayol-primary-acent-color);
}


 /* Body end */


/*Footer area*/
.footer-area {
    background-color: var(--rayol-primary-color);
    padding: 40px;
    position: relative;
    z-index: 1000;
    min-height:100px;
    border-width: 1px 0 0;
    -webkit-box-shadow:0px 0px 8px var(--rayal-white-borders);
    -moz-box-shadow:0px 0px 8px var(--rayal-white-borders);
  }
  .c-y-c-contact.title{
      color:  var(--rayal-white);
      font-size: 20px;
      font-style: normal;
  }
  .col-y-content.contact{
      float: right;
  }
  .footer-icon{
      margin: 5px;
      width: 25px;
      height: 22px;
      fill-opacity:1;
      stroke:none;
      fill-rule:nonzero;
  }
  .footer-icon.facebook{
      fill:  var(--rayal-white);
  }
  .footer-icon.instagram{
      fill:  var(--rayol-orange-color);
  }
  .footer-icon.twitter
  {
      fill: var(--rayol-dark-red-color);
  }
  .footer-icon.google
  {
      fill: var(--rayal-light-green-color);
  }
  .footer-icon.tumbr{
     fill:  var(--rayal-white);
  }
  .footer-icon.vk
  {
      fill:  var(--rayol-orange-color);
  }
  
  .col-x-content{
      margin-left: 20px;
  }
  .footer-area .footer-single-widget .copywrite-text p {
      color: var(--rayal-white);
      margin-bottom: 0;
      width: 900px;
      margin-right: 100px;
   }
  .f-menu-list{
      margin: 10px;
      float: left;

  }
  .f-menu-header{
      text-decoration: none;
      color: var(--rayal-white);
      font-size: 15px;
     
  }
  .footer_links_color{
     color: white;
  }
  li{
      font-size: 10px;
  }
  .col-y-content a{
      text-decoration: none;
      color: var(--rayal-gray-color);
  }
  .col-y-content a:hover{
      text-decoration: none;
      color: var(--rayol-primary-color);
  }
  .col-y-content
  {
      width: 30%;
      float: left;
  }

 
  /* ENd of footer */